body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    font-size: 18px;
}

.hero {
    background-color: #1F2937;
}

.width-constraint {
    margin: auto;
    max-width: 1200px;
    padding: 0px 48px;
}

.header {
    padding: 16px 0px;
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.container {
    margin-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 48px;
}

.container img {
    flex-basis: 1200px;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    margin: 0;
    color: #F9FAF8;
}

button {
    background-color: #3882F6;
    padding: 8px 32px;
    border: 0px;
    border-radius: 8px;
    font-size: 18px;
    color: #F9FAF8;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 16px;
}

.info {
    background-color: #fff;
    color: #1F2937;
}

h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    margin: 50px;
}

.img-rows {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 32px;
    margin-bottom: 100px;
}

.img-txt {
    width: 220px;
    img {
        width: 200px;
        height: auto;
        border-radius: 12px;
    }
}  

.testimonial {
    background-color: #E5E7EB;
    color: #1F2937;
}

.narrow-constraint {
    margin: auto;
    max-width: 900px;
    padding: 150px 48px 120px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    margin: 0px;
}

.attribution {
    margin: 0px;
    text-align: right;
    font-weight: bold;
    font-size: 24px;
}

.cta {
    background-color: #fff;
    color: #E5E7EB;
    h3 {
        color: #F9FAF8;
        font-size: 24px;
        margin: 0px;
    }
    p {
        margin-top: 5px;
        margin-bottom: 0px;
    }
}

.cta-container {
    background-color: #3882F6;
    max-width: 800px;
    height: 200px;
    margin: 100px auto;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 100px;
    button  {
        border: 3px solid #F9FAF8;
    }
}

.footer {
    background-color: #1F2937;
    padding: 48px;
    p {
        color: #E5E7EB;
        margin: 0px;
        text-align: center;
    }
}